.bg-grey {
    background: #292929;
}

.logo-footer {
    margin-bottom: 40px;
}

footer {
    color: #ffffff;
}

footer p,
a {
    font-size: 12px;
}

footer h6 {
    margin-bottom: 40px;
    position: relative;
}

footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}

.btn-footer {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

.btn-footer:hover {
    text-decoration: none;
}

.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
}

::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}

.form-footer input[type="button"] {
    border: none;
    background: #232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}

.social .fa {
    color: #ffffff;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

footer ul li a {
    text-decoration: none;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 233ms all ease-in-out;
    -webkit-transition: 233ms all ease-in-out;
    -moz-transition: 233ms all ease-in-out;
    -ms-transition: 233ms all ease-in-out;
    -o-transition: 233ms all ease-in-out;
}

a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;
}

.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}