.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border:none;
}
.btn-secondary {
    color: black;;
    border: 2px groove black;
    border-radius: 2rem;
    background: none;
}

.btn-white {
    border: 2px groove white;
    color:white;
    background-color: none;
}

.btn-white:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px groove white;
}